#logo {
    width: 85.35px; /* initial width */
    height: 52.35px; /* initial height */
  }

.header-logo-text {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size:24px;
    color: #f9faf8;
    }

#bg-photo {
width: 510.5px; /* initial width */
height: 320.5px; /* initial height */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    padding: 30px;
}

.left-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 30px;
}
#hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    list-style-type: none;
    
}
.container h3,ul {
    font-size: 18px;
    color: #e5e7eb;
    
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    
}

.part-1 {
    display: flex;
    flex-direction: column;
}
button {
    width: 130px;
    height: 50px;
    border-radius: 15px 15px;
    background-color: #3882f6;
    font-weight: bold;
    color: #e5e7eb;
    font-size: 18px;
}
.places img,p {
    height: 180px;
    width: 180px;
    color: #1F2937;
    border-radius: 10%;
}
.places  {
    display: flex;
    gap: 42px;
    justify-content: center;
    align-items: center;
}

.information {
    
    font-size: 36px;
    
    color: #1F2937;
    margin-top: 60px;
    font-weight: 900;
    margin-bottom: 60px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-3 {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 150px;
}

.quote {
    font-size: 32px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
.quote-by {
    display: flex;
    justify-content: flex-end;
    padding: 100px;
    padding-top: 20px;
    font-weight: bolder;
    font-size:24px;
    color: #1F2937;
}